<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <div class="display-1 text-primary text-center">
          <strong>FLUSH</strong>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-8 offset-2">
        <img src="/images/homeToilet.jpg" class="d-block w-100" alt="Don't Forget To Flush">
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
