<div class="container text-center">
  <div class="jumbotron">
    <h1 class="display-4">FLUSH</h1>
    <br>
    <p class="lead">A place to rate your public restoom experience!</p>
    <hr class="my-4">
    <p>Login/Register below.</p>
    <br>
    <br>
    <a class="btn btn-light text-dark btn-md" role="button" href="login.html">Login</a>
    <a class="btn btn-light text-dark btn-md" role="button" href="user.html">Register</a>
  </div>
  <br>
  <br>
  <br>

  <div class="col-md-12">
    <div id="about">
      <h2>ABOUT</h2>
      <p>Sitting in class one day, we came to the reliazation that there was no way to to see a social media way to know
        which public restooms to use and the ones to avoid.
        Thus, FLUSH was born. We wanted to have a fun and inviting way to help people know what restooms are safe and
        clean to use.
      </p>
      <br>
      <p>
        Credits:
        <br>
        Dylan Thomas - https://github.com/thomasdylan
        <br>
        Rhanda Viets - https://github.com/rcviets
        <br>
        Luke Pettit - https://github.com/lpettit1
        <br>
        Kade Christlieb - https://github.com/KChristlieb
      </p>
    </div>
  </div>

</div>