<div class="container text-center">
    <div class="jumbotron">
        <h1 class="display-4">FLUSH</h1>
        <hr>
        <h3>Login</h3>
        <br>
        <form action="/login" method="POST">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required>
            </div>
            <button type="submit" class="btn btn-light text-dark">Submit</button>
        </form>
    </div>
</div>
