<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <a class="navbar-brand" href="#">FLUSH</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Register</a>
            </li>
        </ul>
    </div>
</nav>

<br>
<br>
<br>

<div class="row">
    <div class="col-md-2">
        <div class="card" style="width: 10rem;">
            <i class="fas fa-toilet"></i>
            <div class="card-body">
                <a href="#" class="btn btn-light text-dark">Show all TMI</a><br>
                <a href="#" class="btn btn-light text-dark">Home</a><br>
                <a href="#" class="btn btn-light text-dark">Settings</a><br>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <hr>
        <h3>User Name: {{userName}}</h3>
        <br>
        <h3>Email: {{email}}</h3>
        <br>
        <h3>Gender: {{gender}}</h3>
        <br>
    </div>
</div>
