.list-group-item {
  line-height: 2.5;
}

body {
  background-color: #243447;
  background-size: cover;
  color: white;
}

#about {
  color: white;
}

.jumbotron {
  background-color: #00acee;
}

textarea {
  resize: none;
}